$main_color: #2EB872;
$sec_color: #5555559f;
$padding: 30px;
// fonts 
$font_one: 2.5em; // 40px in normal or when 1em = 16px
$font_two: 2.1875em; // 35px in normal or when 1em = 16px
$font_three: 1.875em; // 30px in normal or when 1em = 16px
$font_four: 1.5625em; // 25px in normal or when 1em = 16px  
$font_five: 1.25em;   // 20px in normal or when 1em = 16px
$font_six: 1em;   // 16px in normal or when 1em = 16px