extends index.pug
block head
    +head("Zoofari / Our Animals")
block landing
    .landing_two 
        .container
            div Our Animals
            div 
                a(href="index.html") Home / 
                a(href="animals.html") Our Animals
block about
    div
block adsOne
    div
block services
    div
block vistingHours
    div
block member
    div
block testimonial
    div