extends index.pug
block head
    +head("Zoofari / Membership")
block landing
    .landing_two 
        .container
            div Membership
            div 
                a(href="index.html") Home / 
                a(href="Membership.html") Membership
block about
    div
block adsOne
    div
block services
    div
block animals
    div
block vistingHours
    div
block testimonial
    div