mixin head (title)
    meta(name="author" content="Beshoy Samy Englizy")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Zoofari Template")
    meta(name="date" content="2024-06-23" scheme="YYYY-MM-DD")
    title= title
    link(rel="icon" href="imgs/icons/logo.icon")
    // Render All Elements Normally
    link(rel="stylesheet" href="style/normalize.css")
    // Font Awesome Library
    link(rel="stylesheet", href="style/all.min.css")
    // Main CSS File
    link(rel="stylesheet" href="style/style.css")
    // Google Fonts
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">