extends index.pug
block head
    +head("Zoofari / Services")
block landing
    .landing_two 
        .container
            div Services
            div 
                a(href="index.html") Home / 
                a(href="services.html") Services
block about
    div
block adsOne
    div
block animals
    div
block vistingHours
    div
block member
    div
block testimonial
    div