extends index.pug
block head
    +head("Zoofari / Visiting Hour")
block landing
    .landing_two 
        .container
            div Visiting Hour
            div 
                a(href="index.html") Home / 
                a(href="visitingHour.html") Visiting Hour
block about
    div
block adsOne
    div
block services
    div
block animals
    div
block vistingHours
    section.vistingHours(style="margin: 100px 0;")
        .container 
            .boxOne 
                .textOne Visiting Hours
                .contentOne
                    div 
                        .day Monday
                        .time 9:00AM - 6:00PM
                    div 
                        .day Tuesday
                        .time 9:00AM - 6:00PM
                    div 
                        .day Wednesday
                        .time 9:00AM - 6:00PM
                    div 
                        .day Thursday
                        .time 9:00AM - 6:00PM
                    div 
                        .day Friday
                        .time 9:00AM - 6:00PM
                    div 
                        .day Saturday
                        .time 9:00AM - 12:00PM
                    div 
                        .day Sunday
                        .time Closed
            .boxTwo
                .textTwo Contact Info
                .contentTwo
                    div 
                        .place Office
                        .value 123 Street, New York, USA
                    div 
                        .place Zoo
                        .value 123 Street, New York, USA
                    div
                        .place Ticket
                        .value: a(href="mailto:ticket@example.com")  ticket@example.com
                    div
                        .place Phone
                        .value: a(href="tel:+012 345 6789") +012 345 6789
                    div
                        .place Support
                        .value: a(href="mailto:support@example.com") support@example.com
block member
    div
block testimonial
    div